.bg-custom-1 {
    background-color: #87A2FB !important;
}

.m-custom-1 {
    margin-top: 50px !important;
}


.m-custom-2 {
    margin-bottom: 50px !important;
}

.text-custom-1 {
    color: #FFF !important;
}

.text-custom-2 {
    color: #87A2FB !important;
}

.size-custom-1 {
    font-size: 14px !important;
}

.transform-custom-1 {
    text-transform: capitalize !important;
}